.App {
  text-align: center;
}
html {
  background-color: #000411;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
.gradient-text {
  background-image: linear-gradient(90deg, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
